.kitButton {
    border: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.kitButton:hover {
    box-shadow: 0 0 0 4px var(--bgGrey);
}

.kitButtonHolder {
    border-color: var(--midGreen); 
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: var(--midGreen);
    padding: 0.5rem 0 0.5rem 0;
    width: 80%;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.kit1 {
    background-color: rgb(87, 224, 255);
}

.kit2 {
    background-color: rgb(24, 255, 70);
}

.kit3 {
    background-color: rgb(255, 229, 29);
}

.kit4 {
    background-color: rgb(216, 27, 27);
}

.kit5 {
    background-color: hotpink;
}

.kitSelected {
    box-shadow: 0 0 0 4px var(--bgGrey);
    color: var(--bgGrey)
}

.pillButton {
    border: 1px solid var(--darkGrey);
    background-color: var(--lightGreen);
    padding: 0.5rem 2rem;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    margin-top: 1rem;
}

.pillButton:hover {
    background-color: var(--midGreen);
    border: 1px solid var(--midGreen);
    cursor: pointer;
}

.listButtons {
    margin: auto;
}

/* Removed default outline focus, but have replaced with box shadow outline so it's still clearly visible when selected. Checked it would pass contrast ratio check here: https://webaim.org/resources/contrastchecker/ */

button:focus {
    outline:0;
} 