.kitButton {
    border: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.kitButton:hover {
    box-shadow: 0 0 0 4px var(--bgGrey);
}

.kitButtonHolder {
    border-color: var(--midGreen); 
    border-style: solid;
    border-width: 1px;
    border-radius: 40px;
    background-color: var(--midGreen);
    padding: 0.5rem 0rem 0.5rem 0rem;
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

@media screen and (min-width: 769px) {
    .kitButton{
        height: 2rem;
        width: 2rem;
    }
    .kitButtonHolder {
        width: 40%;
    }
}

/* For smaller mobile sizes */
@media screen and (max-width: 414px) {
    .kitButtonHolder {
        width: 100%;
    }
}

/* For Galaxy Fold screen sizes */
@media screen and (max-width: 280px) {
    .kitButton{
        height: 1.4rem;
        width: 1.4rem;
        
    }
}

.kit1 {
    background-color: rgb(87, 224, 255);
}

.kit2 {
    background-color: rgb(24, 255, 70);
}

.kit3 {
    background-color: rgb(255, 229, 29);
}

.kit4 {
    background-color: rgb(216, 27, 27);
}

.kit5 {
    background-color: hotpink;
}

.kitSelected {
    box-shadow: 0 0 0 4px var(--bgGrey);
    color: var(--bgGrey)
}

.chosenKitColour {
    border: none;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    background-color: var(--offWhite);
}

.pillButton {
    border: 1px solid var(--lightGreen);
    background-color: var(--lightGreen);
    padding: 0.5rem 2rem;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    margin: 1rem;
}

.pillButton:hover {
    background-color: var(--midGreen);
    border: 1px solid var(--midGreen);
    cursor: pointer;
}

.listButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.playersButtons {
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Removed default outline focus, but have replaced with box shadow outline so it's still clearly visible when selected. Checked it would pass contrast ratio check here: https://webaim.org/resources/contrastchecker/ */

button:focus {
    outline:0;
} 
