/* .card {
    border-color: var(--darkGrey); 
    border-style: solid;
    border-width: 3rem 0 3rem 0;
    border-radius: 10px;
    background-color: var(--lightGreen);
    margin: 2rem;
    padding: 1rem;
    text-align: center;
} */

form {
    margin: 1.5rem;
}

.cardHolder {
    display: grid;
    grid-template-rows: 3;
    border-radius: 20px; 
    background-color: var(--offWhite);
    margin: 2rem;
    text-align: center;
}

.cardGreen {
    border-radius: 0; 
    background-color: var(--lightGreen);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardWhite {    
    border-radius: 0; 
    background-color: var(--offWhite);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardTop {
    background-color: var(--darkGrey);
    border-radius: 10px 10px 0 0; 
}

.cardBody{
    border-radius: 0; 
}

.cardBottom {
    background-color: var(--darkGrey);
    border-radius: 0 0 10px 10px ; 
    height: 4rem;
    display: inline-block;
    vertical-align: middle;
}

.kitAndName {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}


