form {
    margin: 1.5rem;
}

.cardHolder {
    display: grid;
    border-radius: 10px; 
    background-color: var(--offWhite);
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
    width: 90%;
}

/* For smallest screen sizes */
@media screen and (max-width: 360px) {
    .cardHolder {
        margin: auto;
        margin-bottom: 2rem;
        /* margin: 1rem; */
    }
}

@media screen and (min-width: 769px) {
    .cardHolder {
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.cardGreen {
    border-radius: 0; 
    background-color: var(--lightGreen);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardWhite {    
    border-radius: 0; 
    background-color: var(--offWhite);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cardTop {
    background-color: var(--darkGrey);
    border-radius: 10px 10px 0 0; 
}

.cardBody{
    border-radius: 0; 
}

.cardBottom {
    background-color: var(--darkGrey);
    border-radius: 0 0 10px 10px ; 
    display: inline-block;
    vertical-align: middle;
    height: fit-content;
    min-height: 4rem;
}

@media screen and (max-width: 768px) {
    .cardBottom {
        display: grid;
        height: fit-content;
        min-height: 3.5rem;
    }
}

.kitAndName {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

.teamsDivider {
    width: 100%;
    background: linear-gradient(90deg, var(--lightGreen), var(--midGreen) 20% 80%, var(--lightGreen));
    height: 2px;
    margin: auto;
    margin-bottom: 3rem;
}

