@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

h1 {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 4rem;
	color: var(--offWhite);
	margin-top: 3rem;
	margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: calc(30px + 1.5vw);
    color: var(--offWhite);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h3 {
    font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: calc(16px + 1.5vw);
    color: var(--darkGrey);
    text-align: center;
}

.h3alternate {
    font-size: calc(16px + 1.5vw);
    color: var(--offWhite);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

label {
    font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: calc(12px + 1.5vw);
	color: var(--offWhite);
}